# Sample gitconfig
[user]
    name         = Jorge Maroto
    email        = patoroco@gmail.com
[github]
    user         = patoroco
[core]
	excludesfile = /Users/patoroco/.gitignore
    editor       = vim
[alias]
    co       = checkout
    st       = status -s
    ci       = commit
    br       = branch
    diff     = diff --word-diff
    grep     = grep -Ii
    ready    = rebase -i @{u}
    ignored  = ls-files --others -i --exclude-standard
    find     = !git ls-files | grep -i --color

    aliases  = !git config -l | grep alias | cut -c 7-
    smodpull = submodule foreach git pull

    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = !git ls-files -v | grep ^h | cut -c 3-

    credit   = !$HOME/.cider/git/git-credit
    wtf      = !$HOME/.cider/git/git-wtf
    rank     = !$HOME/.cider/git/git-rank-contributers
    merged   = !$HOME/.cider/git/git-local-merged
    rbpull   = !$HOME/.cider/git/git-reup

    count    = shortlog -sn
    filelog  = log -u
    ls       = !$HOME/.cider/git/git-ls
    ll       = !$HOME/.cider/git/git-ll
[color]
    ui     = true
    diff   = auto
    status = auto
    branch = auto
[color "status"]
    added     = green
    changed   = yellow
    untracked = red
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[apply]
    whitespace = nowarn
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[branch]
    autosetuprebase = always
[help]
    autocorrect = 0
[hub]
    protocol = https
[push]
    default = simple
[pull]
    ff = only
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.5/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
